<mat-toolbar class="toolbar" color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space gamestore" routerLink="main-page" >Game Store</span>
  <div class="hello" *ngIf="user">Hello {{user.name}}!</div>
    <form class="search-form">
      <mat-form-field class="input-container">
        <mat-label>Search</mat-label>
        <input type="text"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let prod of filteredOptions | async" [value]="prod.name">
            {{prod.name + ": " + prod.price + "$"}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-button class="searchBtn">
        <mat-icon aria-hidden="false" aria-label="searchIcon">search</mat-icon>
      </button>
    </form>
  <span class="fill-remaining-space wishlist">Wishlist</span>
  <span class="fill-remaining-space cart">Cart</span>
  <a class="login" routerLink="login" *ngIf="user === null">Log in</a>
  <a class="logout" routerLink="" *ngIf="user !== null" (click)="logout()">Logout</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
