<mat-card class="example-card">
  <div class="example-flex-container">
    <div class="example-button-container" *ngIf="testadmin1">
      <button mat-mini-fab color="primary" (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="example-button-container" *ngIf="testadmin1">
      <button mat-mini-fab color="warn" (click)="deleteProduct()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-header *ngIf="product">
    <mat-card-title> {{product.name}} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content" *ngIf="product">
    <img mat-card-image src="assets/test.png" class="product{{product.image}}-image product-card-image ">
    <p *ngIf="product">
      {{product.description}}
    </p>
    <p class="product-price" *ngIf="product">
      <b>{{product.price}}$</b>
    </p>
    <button mat-button (click)="onAddToCart()">Buy</button>
    <button mat-button (click)="addToWishlist()">Wishlist</button>


  </mat-card-content>
  <mat-form-field class="add-review-form" appearance="fill">
    <mat-label>Leave a review</mat-label>
    <form action="/form/submit" method="GET">
      <label>
        <textarea matInput [(ngModel)]="review" class="textarea" rows="5" cols="60" name="text" placeholder="Add a review"></textarea>
      </label>
    </form>
  </mat-form-field>
  <button mat-button (click)="addComment()" color="black">Add</button>

  <ul class="review_list_ul">
    <div *ngFor="let rev of reviews" class="review-div">
      <label class="user-label"> USER {{rev.user.name}}</label>
      <mat-card class="review-card">
        <mat-card-content class="review-card-content">
          {{rev.text}}

        </mat-card-content>
        <button mat-button *ngIf="rev.user.id == user.id" (click)="deleteComment(rev)">
          Delete
        </button>
      </mat-card>
    </div>
  </ul>
  <mat-card-actions>

  </mat-card-actions>

</mat-card>
