.example-card {
  max-width: 700px;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 3%;
  background-color: #dde8ed;
  text-align: -webkit-center;
}
.mat-button{
  background-color: white;
  margin: 10px;
}
.mat-card-header{
  text-align: -webkit-center !important;
}
.mat-card-title{
  font-size: 30px;
  margin-top: 16px;
  width: 700px;
}
.product-price{
  padding: 12px;
  font-size: 16px;
}
.product-card-image{
  margin: 20px !important;
  max-width: 450px !important;
  height: auto;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: flex-end;
  /*width: 80px;*/
}

.review-text-area {
  min-width: 300px;
  min-height: 55px;
}

.review_list_ul{
  text-align: left !important;
}

.review-div{
  margin-bottom: 40px !important;
  width: auto !important;
}


.review-card {
  text-align: left;
  padding-bottom: 10px;
}

.review-card-content{
  max-height: 150px !important;
  overflow: auto !important;
}

.user-label{
  padding-left:5px !important;
}

.add-review-form{
  width: 620px;
  padding-left: 30px;
}

.review-input{
  /*min-height: 150px !important;*/
  overflow: scroll !important;
}

.textarea{
  min-width: 600px;
}

.mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

.mat-button{
  top: -10px !important;
}

textarea:focus{
  border: none;
}
