.product-card-image{
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin: 20px !important;
  height: 116px !important;
  width: auto;
}

.product-card-general{
  width: 250px !important;
  height: auto !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.product-card-general:hover{
  background-color: #dde8ed;
}


.product-name, mat-card-content>p.product-price, .buy-product{
  margin-bottom: 15px !important;
  text-align: -webkit-center;
  font-size: 15px;
}

.product-name {
  font-size: 25px;
}

.buyParent {
  display: flex;
  flex-direction: column;
}

button.sbmt-btn {
  border-radius: 0;
  border: 2px solid #272727;
  cursor: pointer;
  width: 100%
}

div.sbmt-btn-txt {
  padding: 10px;
  font-size: 1em;
}

button.sbmt-btn:hover {
  background: #272727;
  color: white;
}

button {
  outline: 0;
}


.whishlist-icn {
  padding-left: 90% !important;
}
