<mat-card (click)="goToDetails()" class="product{{product.name}}-card product-card-general">
  <img mat-card-image src="assets/test.png" class="product{{product.name}}-image product-card-image ">
  <div class="fill-remaining-space product-name">{{product.name}}</div>
  <mat-card-content>
    <p class="product-price">
      {{product.price}}$
    </p>
    <button class="sbmt-btn"
            (click)="onAddToCart()">
      <div class="sbmt-btn-txt"
           [@buttonTextStateTrigger]="buttonTextState"
           (@buttonTextStateTrigger.done)="buttonTextTransitioned($event)">
        {{ buttonText }}
      </div>
    </button>
  </mat-card-content>
<!--  <div class="buyParent">-->
<!--    <button mat-raised-button class="buy-product">Buy</button>-->
<!--  </div>-->
</mat-card>
