table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  width: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

#quantityid {
  background: #dddddd;
  width: 50px;
}

.content {
  padding-top: 10px;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.mat-card-products {
  flex-grow: 0;
  flex-basis: 80%;
  box-shadow: none;
}

.mat-card-checkout {
  flex-basis: 20%;
  text-align: center;
  max-height: 120px;
  padding-top: 40px;
}

.mat-card-checkout > button {
  vertical-align: bottom;
}
